.product-detail {
  /* Main Row Content */
  .product-detail__main-row {
    padding: 50px 0 40px;
    background-color: #f9f9f9;

    /* Typical Element */
    .product-title{
      border-bottom: 1px solid #ddd;

      .product-title__title{
        font-size: 1.75rem;
        padding: 0 0 5px;
        margin-bottom: 0px;
        line-height: 2rem;
      }

      .product-title__sub-title,
      .breadcrumb{
        background-color: transparent;
        padding: 0;
      }
    }

    .product-detail{
      .product-detail-list {
        list-style: none;
        text-indent: 0;
        padding: 0;
        overflow: hidden;

        li {
          font-size: 13px;
          width: 50%;
          float: left;
        }
      }
    }

    .detail-title{
      margin-bottom: 0;
    }

    .product-colors{
      margin-bottom: 10px;

      .color-item{
        display: inline-block;
        width: 26px;
        height: 26px;
        padding: 4px;
        border: 1px solid #aaa;
        position: relative;
        margin-right: 5px;
        cursor: pointer;

        &:after{
          content: '';
          position: absolute;
          display: block;
          width: 18px;
          height: 18px;
          left: 3px;
          top: 3px;
          background-color: #333;
          transition: all ease-out 150ms 20ms;
        }

        &:before {
          content:'';
          position: absolute;
          bottom: 16px;
          left: 16px;
          background-color: #eee;
          border: 1px solid #ccc;
          padding: 0 7px;
          z-index: 2;
          font-weight: 600;
          font-size: 13px;
          opacity: 0;
          visibility: hidden;
          transition: all ease-out 100ms 10ms;
          white-space: nowrap;
        }

        &:hover{
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }

        &.black{
          &:after{
            background-color: #2f3640;
          }

          &:before{
            content: 'Đen'
          }
        }

        &.red{
          &:after{
            background-color: #e84118;
          }
          &:before{
            content: 'Đỏ'
          }
        }

        &.orange{
          &:after{
            background-color: #f0932b;
          }
          &:before{
            content: 'Cam'
          }
        }

        &.yellow{
          &:after{
            background-color: #fbc531;
          }
          &:before{
            content: 'Vàng'
          }
        }

        &.green{
          &:after{
            background-color: #6ab04c;
          }
          &:before{
            content: 'Xanh lá'
          }
        }

        &.blue{
          &:after{
            background-color: #686de0;
          }
          &:before{
            content: 'Xanh biển'
          }
        }

        &.white{
          &:after{
            background-color: #dcdde1;
          }
          &:before{
            content: 'Trắng'
          }
        }
      }
    }

    .product-price{
      margin: 10px 0 5px;
      padding-bottom: 10px;

      .old-price{
        display:block;
        text-decoration: line-through;
        margin: 0;
        line-height: 1.5rem;
      }
      .new-price{
        display:block;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 600;
        color:  #e84118;;
      }
    }

    .product-call-to-action{
      a.buynow-btn,
      .buynow-btn{
        color: white;
        background-color:  #e84118;
        padding: 0 40px;
        line-height: 40px;
        height: 40px;
        display:inline-block;
        width: auto;
        font-size: 1.05rem;

        &:hover{
          text-decoration: none;
        }
      }
    }
    /* Typical Element - END */

    .product-detail__image-container {
      padding: 0;
      // Image View Component
      .image-view{
        padding-right: 30px;

        .img-item{
          overflow: hidden;
        }

        .image-view__thumbnail-img {
          padding: 0;

          .thumb-nail-item {
            height: 94px;
            width: 100%;
            margin: 8px auto;
            position: relative;
            padding: 0;
            cursor:pointer;
            border: 1px solid #ddd;

            &:first-child {
              margin-top: 0;
            }

            &.active{
              border: 1px solid #e84118;
            }

            img {
              min-width: 100%;
              max-width: 125%;
              min-height: 100%;
              max-height: 100%;
              position: absolute;
            }
          }
        }

        .image-view__main-img{
          .main-img-item{
            height: 400px;
            overflow: hidden;
            position: relative;

            img{
              max-width: 130%;
              min-height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%,-50%);
              -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
          }
        }
      }
    }
  }
  /* Main Row Content - END */

  /* Product Sub row content */
  .product-detail__sub-content{
    padding:0;
    margin-bottom: 50px;

    .row{
      .sub-content__des{
        padding-left: 0;
      }
    }
  }
  /* Product Sub row content - END */
}