//
// Colors
//

// Default
$red: #e84118;
$white: #fff;
$blue: #003f6b;

//options
$duration: 0.8s;
$ease-in-out: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$size: 20px;
$hsize: $size/2;

//
// Fonts size
//

//
// Padding & margin
//

$info-laptop-screen: "only screen and (max-width : 1440px)";
$info-tablet-horizontal: "only screen and (max-width : 1160px)";
$info-tablet-vertical: "only screen and (max-width : 900px)";
$info-phone: "only screen and (max-width : 767px)";
$info-phone-4: "only screen and (max-width : 320px)";

$title-color: #ee7f8d;
$bg-color: #facbd1;