body{
  padding-top: 60px;
}

.nav-bar{
  background-color: #e84118;
  color: #f0f9ff;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);

  @media (max-width: 768px){
    color: #e84118;
  }

  .navbar__logo-column{
    @media (max-width: 768px){
      display: block;
      max-width: 50%;
      padding: 0;
    }

    .logo-holder{
      line-height: 58px;
      img{
        max-width: 100%;
        height: 50px;
        margin: 4px 0px;
      }

      @media (max-width: 768px){
        margin-left: 20px;

        img{
          max-width: none;
        }
      }
    }
  }

  .navbar__menu-column{
    @media (max-width: 768px){
      display: block;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      padding: 0;
    }
  }

  .navbar__main-menu{
    list-style: none;
    padding: 0;
    height: 60px;
    width: 100%;
    text-align: right;
    overflow: visible;
    margin: 0;

    @media (max-width: 768px){
      display: block;
      background: $white;
      height: auto;
      position: absolute;
      width: 100%;
      display: none;
    }

    .navbar__main-menu-item{
      text-decoration: none;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      width: 18%;
      position: relative;
      text-align: center;
      padding-right: 0px;
      font-weight: 600;
      transition: all ease-out 240ms 10ms;

      @media (max-width: 768px){
        display: block;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
        height: auto;
      }

      a{
        font-size: 0.95rem;
        color: lighten(#e84118, 40%);
        text-shadow: 1px 1px rgba(20,20,20,0.5);

        @media (max-width: 768px){
          color: $red;
          text-shadow: none;
          margin-left: 20px;
        }
      }


      &:hover{
        opacity: 1;
        text-decoration: none;
        a{
          text-decoration: none;
          opacity: 1;
          color: #fff;

          @media (max-width: 768px){
            color: $red;
            text-shadow: none;
          }
        }
      }


      &:after{
        content: '';
        position: absolute;
        top: 20px;
        height: 20px;
        width: 1px;
        left: 0;
        background-color: #f0f9ff;
        opacity: 0.2;
        transition: all ease-out 240ms 10ms;

        @media (max-width: 768px){
          display:none;
        }
      }


      .navbar__sub-menu{
        list-style: none;
        padding: 0;
        position: absolute;
        top: 100%;
        background-color: #fff;
        width: 450px;
        overflow:hidden;
        box-shadow: 0 0 12px rgba(0,0,0,0.3);
        color: #333;
        border-bottom: 6px solid #e84118;
        display:none;

        @media (max-width: 768px){
          position: static;
          width: 100%;
          border-bottom: none;
          background-color: #eee;
          box-shadow: none;
          border-top: 1px solid #ddd;
        }

        a {
          text-shadow: none;
          color:  #e84118;
          @media (max-width: 768px) {
            margin-left: 0;
          }
        }

        &.active{
          display:block;
        }

        .sub-menu-holder{
          padding: 15px 10px;

          .thumbnail-img{
            height: 160px;
            overflow: hidden;
            position: relative;

            @media (max-width: 768px){
              position: relative;
              height: 160px;
            }

            img{
              min-height: 100%;
              max-width: 150%;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
          }
        }

        .navbar__sub-menu__sub-menu-item{
          text-align: left;
          margin-bottom: 5px;
          a{
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1px;
            display: block;
            line-height: 30px;
            height: 30px;
            border-bottom: 1px solid rgba(215,215,215,0.9);
            width: 90%;
          }

          p{
            font-size: 0.85rem;
            line-height: 35px;
            color: #888;
            font-style: italic;
            margin-top: 2px;
          }
        }
      }

      &:hover{
        padding-right: 10px;

        &:after{
          top: 15px;
          height: 30px;
          opacity: 0.6;
        }

        @media (max-width: 768px){
          padding-right: 0px;
        }
      }
    }
  }

  .expand-menu{
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    display:none;

    @media (max-width: 768px){
      display: block;
    }

    &>span,
    .icon-holder{
      display: inline-block;
      border: 1px solid $white;
      width:44px;
      height: 44px;
      margin: 7px 15px;
      border-radius: 4px;
      line-height: 44px;
      text-align: center;
      .fa:before{
        font-size: 26px;
        line-height: 44px;
      }
    }

    &.expaned{
      &>span,
      .icon-holder {
        background-color: $white;
        color: $red;
      }
    }
  }
}