body{
  &.admin-bar{
    .nav-bar{
      top:32px;

      @media (max-width: 768px){
        top:46px;
      }
    }
  }

  .slick-slide{
    height: auto;
  }
}

.slick-next::before,.slick-prev::before {
  display: none;
}

.mt-10{
  margin-top: 10px;
}

.product-item{
  margin-bottom: 30px;
}

.tag-holder{
  .tag-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;

    .tag-item {
      display: inline-block;
      height: 42px;
      line-height: 42px;
      padding: 0 15px;
      font-size: 18px;
      margin: 0 5px;
      cursor: pointer;
      background-color: #eee;

      a{
        color: inherit;

        &:hover{
          text-decoration: none;
          color: #e84118;
        }
      }

      &.active {
        background-color: #e84118;
        color: #fff;

        a{
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}

.excerpt{
  font-weight: 600;
}
.post-item__content__title{
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
      color:#e84118;
    }
  }
}

.cta{
  a.see-more{
    font-weight: 600;
  }
}

.news-content .navigation-news{
  text-align: center;
  display: block;
  overflow: hidden;

  a{
    &:first-child{
      float: left;
    }
    &:last-child{
      float: right;
    }
  }
}
.sidebar {
  .custom-heading {
    &:first-child{
      margin-top:0;
    }
  }
}

.banner,#banner{
  .cta{
    margin-top: 20px;
  }
}