#banner{
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  color: #fff;
  
  .banner{
    padding: 120px 55px 120px;

    @media (max-width: 1024px){
      padding: 100px 45px 100px;
    }

    @media (max-width: 768px){
      padding: 80px 40px 80px;
    }

    &.sm-padding{
      padding: 80px 0px 80px;
    }
  }

  .banner__content{
    padding: 62px 45px;
    background-color: rgba(25,25,25,0.6);

    .banner__call-to-action{
      margin-top: 35px;
    }

    hr{
      border-top: 1px solid #fff;
    }
  }
}