.section{
  margin: 45px 0;
}

p{
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  &.opc-7{
    opacity: 0.9;
    margin-bottom: 0;
  }
}


.custom-heading{
  margin: 20px auto 50px;
  overflow: hidden;
  text-align: center;
  width: 75%;
  border-bottom: 2px solid #555;
  padding-bottom: 25px;
  position: relative;
  overflow: visible;

  &:after{
    content: '';
    width: 50px;
    height: 40px;
    background-color: #fff;
    bottom: -20px;
    left: calc(50% - 25px);
    position: absolute;
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display:none;
  }

  &.all-prod{
    &:after {
      background-image: url('../img/icon/all-ico.png');
      background-size: 26px 26px;
      display: block;
    }
  }

  &.watch-prod{
    &:after {
      background-image: url('../img/icon/watch-ico.png');
      display: block;
    }
  }

  &.glasses-prod{
    &:after {
      background-image: url('../img/icon/glasses-ico.png');
      display: block;
    }
  }

  &.disabled-border{
    padding-bottom: 0;
    margin: 20px auto 30px;
    &:after{
      display: none;
    }
  }

  &.full-width{
    width: 100%;
    margin-left: 0;
  }

  h1,h2,h3,h4{
    padding:15px 0 0;
    color: #555;
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
  }

  &.no-dash{
    h1,h2,h3,h4 {
      &:after {
        display: none;
      }
    }
  }
}

.news-col{
  .news-container{
    .news-item{
      margin-bottom: 40px;

      .img-holder{
        height: 180px;
        max-height: 180px;
        overflow: hidden;
        position: relative;

        img{
          position: absolute;
          min-height: 200px;
          max-width: 100%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

      .content-holder{
        padding: 0.5em 1em 0em 1.25em;

        h4{
          margin-bottom: 10px;
        }

        p.excerpt{
          font-size: 0.9em;
          line-height: 1.67em;
          max-height: 98px;
          overflow: hidden;
          text-align: justify;
        }
      }
    }
  }
}


.card-highlight{
  position: relative;
  cursor:pointer;

  .card-highlight__img-holder{
    position: relative;
    height: 180px;
    overflow: hidden;
    width: 100%;

    img{
      position: absolute;
      width: 100%;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .card-highlight__content-holder{
    color:white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: rgba(0,0,0,0.35);
    opacity: 0;
    transition: all ease-out 150ms 20ms;

    .title{
      opacity: 0;
      line-height: 180px;
      position: relative;
      text-align: center;
      color: #eee;
      top: 30px;
      transition: all ease-out 350ms 170ms;
      font-size: 2em;
      letter-spacing: 0.01em;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    }
  }

  &:hover{
    .card-highlight__img-holder{
      img {
        width: 120%;
        transition: width 500ms 20ms;
      }
    }

    .card-highlight__content-holder{
      opacity: 1;

      .title{
        top: 0;
        opacity: 1;
      }
    }
  }
}

.product-cta{
  padding: 55px 0 0;
  color: #555;

  a{
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #555;
    padding: .375rem 1.75rem .375rem;
    background: #fff;
    transition: all 100ms 20ms ease-out;
    font-weight: 600;
    position: relative;

    &:hover{
      color: #fff;
      text-decoration: none;
      text-shadow: 1px 1px #111;
      background-color: #555;
    }

    &:active{
      padding: .425rem 1.75rem .325rem;
      text-shadow: 1px 1px #000;
    }
  }
}

.sale-slider{
  overflow: hidden;

  .sale-item {
    .sale-item__img {
      height: 220px;
      overflow: hidden;
      position: relative;
      width: 100%;

      img{
        height: 220px;
        width: auto;
        min-width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .sale-item__content{
      text-align: center;
      padding-top: 12px;

      .sale-detail{
        font-weight: 600;
        font-size: 1.1em;
        margin-bottom: 5px;
      }

      .price-holder{
        *{
          margin: 0;
        }

        .old-price{
          color:#aaa;
          text-decoration: line-through;
          font-size: 0.9em;
          line-height: 1.1em;
        }

        .new-price{
          color: #e84118;
          font-weight: 600;
        }
      }
    }
  }

  /* Slick Carousel */
  .slick-arrow {
    position: absolute;
    z-index: 2;
    top: 85px;
    background: transparent;
    border:none;
    font-size: 50px;
    font-weight: 600;
    line-height: 10px;
    color: #eee;
    text-shadow: 1px 1px 2px #666;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: all 150ms 20ms ease-out;

    &.slick-next {
      right: 0px;
      transform: translateX(30px);
    }

    &.slick-prev {
      left: 0px;
      transform: translateX(-30px);
    }
  }

  &:hover{
    .slick-arrow {
      &.slick-next, &.slick-prev{
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
}