.slogan-section{
  padding: 60px 0 20px;

  .slogan-holder{
    position: relative;

    .slogan-logo{
      position: absolute;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      border-radius: 40px;
      border: 4px solid white;

      .logo-img{
        width: 86px;
        height: 86px;
        position: relative;
        top: -3px;
        left: -3px;

        img{
          max-width: 140%;
          min-height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .slogan-row {
      overflow:hidden;

      .slogan-item {
        color: #fff;
        padding: 20px;
        width: 50%;
        float: left;

        &.red-item {
          background-color: #e84118;
        }

        &.black-item {
          background-color: #444;
        }

        .slogan-item__title {
          font-size: 1.25em;
          font-weight: 600;
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid rgba(255,255,255,0.6);
          text-align:center;
        }

        .slogan-item__content{
          p{
            opacity: 0.8;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}