.mag-bot-0{
    margin-bottom: 0 !important;
}

.no-pad-top{
    padding-top: 0 !important;
}

.mag-top-20{
    margin-top: 20px;
}
.mag-top-30{
    margin-top: 30px;
}
.strikethrough{
    text-decoration: line-through;
}