@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');

body, html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #6e6e6e;
    @media #{$info-tablet-horizontal} {
        font-size: 15px;
    }
    @media #{$info-tablet-vertical} {
        font-size: 14px;
    }
    @media #{$info-phone} {
        font-size: 12px;
    }
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
    line-height: 1.75em;
}
