.blogs-post {
  margin: 30px 0 50px; }

.custom-heading.post-heading {
  border-bottom: none;
  margin-bottom: 10px; }

.related-post-holder .post-item {
  margin-bottom: 15px; }
  .related-post-holder .post-item .post-item__thumbnail {
    height: 125px;
    overflow: hidden;
    position: relative; }
    @media (max-width: 1024px) {
      .related-post-holder .post-item .post-item__thumbnail {
        height: 100px; } }
    .related-post-holder .post-item .post-item__thumbnail img {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .related-post-holder .post-item .post-item__content {
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee; }
    .related-post-holder .post-item .post-item__content .post-item__content__title {
      font-size: 1.15rem;
      margin: 0; }
    .related-post-holder .post-item .post-item__content .post-item__content__excerpt {
      font-size: .85rem;
      color: #888;
      margin: 0; }
    .related-post-holder .post-item .post-item__content .post-item__content__cta {
      margin-top: 6px;
      color: #e84118;
      font-size: 0.9rem;
      font-weight: 600;
      opacity: 0.7;
      transition: all 120ms 20ms ease-out; }
      .related-post-holder .post-item .post-item__content .post-item__content__cta:hover {
        opacity: 1;
        text-decoration: none; }
